@import '../../assets/scss/common.scss';
div{
  color: deeppink;
  font-size: 100px;
}
a{
  color:brown;
}
.player{
  width: 500px;
  height: 400px;
  border: 1px peru solid;
}
.bigbrother{
  height: 500px;
  background: url('../../assets/img/onepiece.jpg');
}
#clickme{
  width: 100px;
  height: 40px;
  background: palegreen;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 50px 0;
}