<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <title>first try</title>
</head>
<body>
  <img src="<%= require('../../assets/img/pic.jpg') %>" alt="">
  <img src="<%= require('../../assets/img/pic.jpg') %>" alt="">
  <div class="bg">
    
  </div>
  <div class="bigbrother"></div>
  <p class="test">大表哥abc</p>
  <script src="./plugin/js/jquery.min.js"></script>
  <script src="./plugin/js/swiper.min.js"></script>
</body>